@tailwind base;
@tailwind components;
@tailwind utilities;

.tabela-7-1 {
  height: 200px;
  width: 700px;
  padding: auto;
}

.container {
  padding: 2rem;
}

.rodape {
  position: fixed;
  bottom: -0.5rem;
  width: 100%;

  @apply mt-5 
   p-10 
   /* bg-[#F0F0F0]; */;
}

.ajuste_de_pagina_imagens_center {
  @apply flex 
    flex-col 
    items-center 
    pt-10;
}

.contentImage {
  max-width: 100%;
}

.imagens {
  @apply flex
  items-center;
}

.topo_topo {
  @apply bg-[#ffffff] 
   pb-10 
   pt-8
   mx-5
   rounded-t-3xl
   flex 
   flex-col px-5;
}

.topo {
  @apply bg-[#F4F3F6] 
   pt-10
   rounded-t-3xl
   flex 
   flex-col px-5;
}

.corpo_interior {
  transition: all 0.5s ease-in-out;
  @apply container 
    py-1;
}

.corpo_interior_lista {
  @apply container 
    px-10
    py-1;
}

html {
  @apply text-black
    font-sans 
    tracking-normal;
}

p,
ul,
ol {
  @apply text-justify 
    items-center
    justify-center 
    m-2
    font-normal;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;

  @apply mb-1 
    mt-3;
}

h1 {
  @apply text-4xl
    mx-5
    mt-4;
}

h2 {
  @apply text-3xl
    bg-[#DFEFF9]
    border-[#F0F0F0]
    mx-2
    shadow-md;
}

h3 {
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: @apply text-2xl bg-[#DFEFF9] border-[#F0F0F0] mx-2 shadow-md;
}

h3 i {
  margin-right: 1rem;
}

h3 h3:hover {
  box-shadow: -3px 3px 33px -9px rgba(0, 0, 0, 0.36);
  transition: all 0.5s ease-in-out;
}

h4 {
  @apply text-xl
    bg-[#DFEFF9]
    border-[#F0F0F0]
    mx-2
    shadow-md;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

a {
  @apply text-black
   hover:text-[#105033]
    /* text-red-900
    hover:text-red-600 */;
}

img {
  @apply rounded-lg 
    shadow-xl
    m-10
    container 
    mx-auto
    px-0
    grid
    grid-cols-1
    col-auto
    size-[80%]
    min-h-40;
}

.header_pg_inicial {
  @apply bg-[#105033]
   text-white 
   py-[80px] 
   px-[1200px];
}
