@tailwind base;
@tailwind components;
@tailwind utilities;

.tabela-7-1{
  height: 200px;
  width: 700px;
  padding: auto;
}

.rodape{
  @apply
   mt-5 
   p-10 
   bg-[#F0F0F0]
}

.ajuste_de_pagina_imagens_center
{
  @apply
    flex 
    flex-col 
    items-center 
    pt-10
}

.imagens{
  @apply
  flex
  items-center
}

.topo_topo{
  @apply
  bg-[#ffffff] 
   pb-10 
   pt-8
   mx-5
   rounded-t-3xl
   flex 
   flex-col px-5 
}

.topo{
  @apply
  bg-[#F4F3F6] 
   pb-10 
   pt-10
   rounded-t-3xl
   flex 
   flex-col px-5 
   mb-10
}

.corpo_interior{
  @apply
    container 
    px-8
    py-1
}

.corpo_interior_lista{
  @apply
    container 
    px-10
    py-1
}

html{
  @apply
    text-black
    font-sans 
    tracking-normal
}

p, ul, ol{
  @apply 
    text-justify 
    items-center
    justify-center 
    m-2
    font-normal
}

h1, h2, h3, h4{
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;

  @apply 
    mb-1 
    mt-3
}

h1{
  @apply 
    text-4xl
    mx-5
    mt-4
}

h2{
  @apply 
    text-3xl
    bg-[#DFEFF9]
    border-[#F0F0F0]
    mx-2
    shadow-md 
}

h3{
  @apply 
    text-2xl
    bg-[#DFEFF9]
    border-[#F0F0F0]
    mx-2
    shadow-md 
}

h4{
  @apply 
    text-xl
    bg-[#DFEFF9]
    border-[#F0F0F0]
    mx-2
    shadow-md 
} 

ul{
  list-style-type: disc;
}

ol{
  list-style-type: decimal;
}

a {
  @apply
   text-black
   hover:text-[#105033]
    /* text-red-900
    hover:text-red-600 */
}

img{
  @apply
    rounded-lg 
    shadow-xl
    m-10
    container 
    mx-auto
    px-0
    grid
    grid-cols-1
    col-auto
    size-[80%]
    min-h-40
}

.header_pg_inicial{
  @apply
  bg-[#105033]
   text-white 
   py-[80px] 
   px-[1200px]
}