@tailwind base;
@tailwind components;
@tailwind utilities;

.h-450 {
    height: 450px;
  }

h1, h2, h3, h4{
  @apply 
    text-blue-950 
    text-center 
    mx-10
    my-5
    font-serif
}

h1{
  @apply 
    text-4xl
}

h2{
  @apply 
    text-3xl
}

h3{
  @apply 
    text-2xl
}

h4{
  @apply 
    text-xl
}

body{
  @apply
    container 
    mx-auto
    font-serif
}

p{
  max-width: 800px;

  @apply 
    text-blue-950 
    text-center 
    mt-2
    font-serif
    items-center
    justify-center
    text-blue-950 
}

div, ul, ol{
  @apply
    flex 
    flex-col 
    items-center 
    justify-center
    mt-2
}

ul, ol{
  max-width: 600px;
  list-style-type: disc;

  @apply
    ml-10
    text-blue-950 
}

img{
  @apply

}