@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------- FIM FORMATAÇÕES GERAL (menos texto e telas menores) ------- */

body {
  /* background: linear-gradient(287.56deg, #fffafa 0%, #fffff0 100%); */
  background-color: white;
  width: 100vw;
  height: 80vh;
}

/* .card:hover {
  box-shadow: -3px 3px 33px -9px rgba(0, 0, 0, 0.36);
  background-color: #e0dede;
} */

.card_e_logo {
  @apply rounded-lg shadow-xl;
}

.container {
  width: 100%;
  margin: 6rem auto;
  height: 60%;
  min-height: 75vh;
}

.contentImage {
  max-width: 100%;
}

.displayArrowNone {
  position: absolute;
  top: 0;
  opacity: 0;
}

.h3Img {
  background: none;
  border: none;
  padding: 0;
  box-shadow: none;
}

.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  max-width: 600px;
}

.listItem {
  display: block;
  margin-right: 2rem;
}

.topo {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0px;
  background-color: #b2ecb2;
}

.topo + div {
  margin-bottom: 2rem;
}

.corpo_interior {
  padding-top: 10px;

  @apply container px-8 py-1;
}

.corpo_interior_lista {
  @apply px-10;
}

.ajuste_de_pagina_imagens_center {
  margin-top: 6%;

  @apply flex flex-col items-center pt-10;
}

.title {
  display: grid;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: bold;
}

.title * {
  font-weight: bold;
}

.footer {
  background-image: url("../img/footer3.png");
  display: flex;
  justify-content: center;
  height: 20vh;

  @apply mt-5 p-10;
}

.corpo_dos_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  padding-top: 10rem;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
}

.header_pg_inicial {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0px;
  margin-bottom: 2rem;
  height: 80px;
  background-color: #105033;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

header h1 {
  font-size: xx-large;
  color: #fffffa;
  margin: auto;
}

figure * {
  margin: 0 auto;
  margin-top: 10px;
}

img {
  width: 50vw;
  height: auto;
}

.imgSmall {
  width: 15vw;
  height: auto;
}

.banner {
  max-width: 200px;
  border-radius: 20px;
}

.centralizar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  object-fit: contain;
}

.reverse-direction {
  flex-direction: row-reverse;
}

/* ------- FIM FORMATAÇÕES GERAL (menos texto e telas menores) ------- */

/* ------- INICIO Estilos para telas menores ou iguais a 1000px -------*/
@media screen and (max-width: 1000px) {
  .corpo_dos_cards {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  .topo {
    height: auto;
    padding: 2rem;
  }

  nav ul {
    list-style: none;
    margin: 2rem;
    padding: 2rem;
  }

  .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 1rem;
    gap: 4rem;
    /* background-color: #e0dede; */
    padding: 1rem;
    text-align: center;
  }

  .card img {
    width: 100%;
    height: 100%;
  }

  .banner {
    max-width: 50%;
    border-radius: 20px;
  }

  * {
    animation: none !important;
  }

  figure {
    padding-top: 2rem;
  }
}

/* ------- FIM Estilos para telas menores ou iguais a 1000px -------*/

/* ------- INICIO FORMATAÇÕES PARA TEXTO ------- */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
span {
  font-family: "Roboto", sans-serif;
  color: black;
  text-align: justify;
  word-spacing: normal;
  letter-spacing: normal;
  white-space: normal;
  word-wrap: normal;
  line-break: normal;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
}

h3 {
  background-color: #b2ecb2;
  border: #f0f0f0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 12px;
  margin-bottom: 4px;
}

h3:hover {
  box-shadow: -3px 3px 33px -9px rgba(0, 0, 0, 0.36);
  transition: all 0.5s ease-in-out;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-style: solid;
  cursor: pointer;
  font-size: 110%;
}

a:active {
  text-decoration-color: #b2ecb2;
  font-size: 110%;
}

nav a {
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  list-style: disc;
}

ol {
  list-style: numeric;
}

span {
  margin-bottom: 3%;
  text-transform: uppercase;
}

/* ------- FIM FORMATAÇÕES PARA TEXTO ------- */
