@tailwind base;
@tailwind components;
@tailwind utilities;

/* Formatações  */

.container {
  width: 100%;
  margin: 0 auto;
  height: 60%;
  padding-top: 8rem;
}

.contentImage {
  max-width: 100%;
}

.displayArrowNone {
  position: absolute;
  top: 0;
  opacity: 0;
}

nav {
  text-transform: uppercase;
  display: flex;
}

nav ul a:hover {
  text-decoration: underline;
}

span {
  margin-bottom: 15px;
}

span a {
  text-transform: uppercase;
}

p,
ul,
ol {
  @apply text-justify items-center justify-center m-2 font-normal;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

a {
  @apply text-black hover:text-[#105033];
}

h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;

  @apply mb-1 mt-3;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;

  @apply text-3xl bg-[#DFEFF9] border-[#F0F0F0] mx-2 shadow-md;
}

h3 {
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;

  @apply text-2xl bg-[#90EE90] border-[#F0F0F0] mx-2 shadow-md;
}

h3 h3:hover {
  box-shadow: -3px 3px 33px -9px rgba(0, 0, 0, 0.36);
  transition: all 0.5s ease-in-out;
}

h4 {
  font-size: 14px;

  @apply text-xl bg-[#DFEFF9] border-[#F0F0F0] mx-2 shadow-md;
}

p {
  font-size: 12px;
}

.h3Img {
  background: none;
  border: none;
  padding: 0;
  box-shadow: none;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  max-width: 600px;
}

.card:hover {
  box-shadow: -3px 3px 33px -9px rgba(0, 0, 0, 0.36);
  background-color: #e0dede;
}

.listItem {
  display: block;
  margin-right: 2rem;
}

html {
  @apply text-black font-sans tracking-normal;
}

body {
  background: linear-gradient(287.56deg, #fffafa 0%, #fffff0 100%);
  width: 100vw;
  font-family: "Times New Roman", Times, serif;
}

.topo h1 {
  padding-left: 2.5rem;
}

.topo {
  position: fixed;
  width: 100%;
  height: 22vh;
  top: 0px;
  background-color: #98fb98;
  margin-bottom: 2rem;
}

.topo + div {
  margin-bottom: 2rem;
}

.corpo_interior {
  padding-top: 10px;

  @apply container px-8 py-1;
}

.corpo_interior_lista {
  @apply px-10;
}

.ajuste_de_pagina_imagens_center {
  margin-top: 6%;

  @apply flex flex-col items-center pt-10;
}

.footer {
  bottom: -0.5rem;
  width: 100%;
  background-image: url("../img/footer3.png");
  display: flex;
  justify-content: center;
  height: 20%;

  @apply mt-5 p-10;
}

/* INICIO Formatações para página inicial */

.corpo_dos_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
  padding-top: 10rem;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
}

.header_pg_inicial {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0px;
  margin-bottom: 2rem;
  height: 80px;
  background-color: #105033;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

header h1 {
  font-size: xx-large;
  color: #fffffa;
  margin: auto;
}

figure * {
  margin: 0 auto;
  margin-top: 10px;
}

img {
  width: 50vw;
  height: auto;
}

.imgSmall {
  width: 15vw;
  height: auto;
}

.banner {
  max-width: 300px;
}

.centralizar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  object-fit: contain;
}

.reverse-direction {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1000px) {
  p,
  h3,
  li {
    font-size: 24px;
  }

  .corpo_dos_cards {
    grid-template-columns: 1fr;
    gap: 0px;
  }

  h1 {
    font-size: 32px;
  }

  .card {
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    gap: 4rem;
  }

  .card img {
    width: 100%;
    height: 100%;
  }

  h3 h3:hover {
    box-shadow: none;
    transition: none;
  }

  * {
    animation: none !important;
  }

  a {
    font-size: 45px;
  }

  .container {
    padding-top: 20rem;
  }

  figure {
    padding-top: 2rem;
  }
}

/* Estilos para telas menores ou iguais a 1024px */
@media screen and (max-width: 1024px) {
  body {
    background-color: lightgreen;
  }
}

/* Estilos para telas menores ou iguais a 1440px */
@media screen and (max-width: 1440px) {
  body {
    background-color: lightyellow;
  }
}

/* Não utilizaddo no momento */

/*  
.giflogo {
  position: fixed;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 200px;
  width: 200px;
  top: 4%;
}  */

/* .cropped1 {
  width: 200px;
  height: 20px;
  object-fit: cover;
  border: 0.5px solid #105033;
} */

/* .search-box {
  position: fixed;
  top: 12%;
  right: 2%;
  left: 80%;
  transform: translate(-50%, -50%);
  background: #2b6d4f;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  width: 300px;
  display: none;
}

.search-text {
  background: none;
  border: 0;
  outline: 0;
  padding: 0;
  color: #fffff0;
  font-size: 18px;
  line-height: 40px;
  transition: 0.4s;
}

.search-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2b6d4f;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-input-placeholder {
  color: #fffff0;
  font-family: Arial, Helvetica, sans-serif;
} */

/* .banner:hover {
  height: 400px;
  width: 280px;
  object-fit: cover;
  transition: 0.4s;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
} */

.giflogo {
  position: fixed;
  top: 6%;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 200px;
  width: 200px;
}

.cropped1 {
  width: 200px;
  height: 20px;
  object-fit: cover;
  border: 0.5px solid #105033;
}

.centralizar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  object-fit: contain;
}

.reverse-direction {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1000px) {
  p,
  h3,
  li {
    font-size: 24px;
  }
  .corpo_dos_cards {
    grid-template-columns: 1fr;
  }

  .topo {
    height: 22vh;
    padding: 2rem;
  }

  h1 {
    font-size: 32px;
  }

  .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 1rem;
    gap: 0;
    background-color: #e0dede;
    padding: 1rem;
    text-align: center;
  }

  .banner {
    max-width: 100%;
  }

  h3 h3:hover {
    box-shadow: none;
    transition: none;
  }
  * {
    animation: none !important;
  }
  a {
    font-size: 45px;
  }

  .container {
    padding-top: 20rem;
  }

  figure {
    padding-top: 2rem;
  }

  .giflogo {
    top: 4%;
  }

  nav ul {
    text-decoration: underline;
  }
}

/* Estilos para telas menores ou iguais a 1024px */
@media screen and (max-width: 1024px) {
  body {
    background-color: lightgreen;
  }
}

/* Estilos para telas menores ou iguais a 1440px */
@media screen and (max-width: 1440px) {
  body {
    background-color: lightyellow;
  }
}
