@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(287.56deg, #FFFAFA 0%, #FFFFF0 100%)
}

.search-box {
    position: fixed;
    top: 12%;
    right: 2%;
    left: 80%;
    transform: translate(-50%, -50%);
    background: #2b6d4f;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    width: 300px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.search-text {
    background: none;
    border: 0;
    outline: 0; 
    padding: 0;
    color: #FFFFF0;
    font-size: 18px;
    line-height: 40px ;
    transition: 0.4s;
}

::-webkit-input-placeholder{
    color: #fffff0;
    font-family: Arial, Helvetica, sans-serif;
}

.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2b6d4f;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner {
    height: 400px;
    width: 280px;
    object-fit: cover;
}

.banner:hover {
    height: 400px;
    width: 280px;
    object-fit: cover;
    transition: 0.4s;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    
}


ul li a:hover::after {
  opacity: 1;
}
body {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    font-family: Georgia, serif;
}

.giflogo {
    position: fixed;
    top: 6%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 200px;
    width: 200px;
}

.footer {
    height: 20%;
    width: auto;
    padding-left: 1%;
    padding-right: 0%;
    background-image: url("../img/footer3.png");
    background-size: auto;
}

.cropped1 {
    width: 200px; /* width of container */
    height: 20px; /* height of container */
    object-fit: cover;
    border: 0.5px solid #105033;
}

.arrow-container {
    display: flex;
    align-items: center;
 }
 .arrow {
    display: inline-block;
    margin-right: 30px;
    width: 15px;
    height: 15px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
 }
 .right-arrow {
    transform: rotate(45deg);
 }
 .left-arrow {
    transform: rotate(-135deg);
 }
 .up-arrow {
    transform: rotate(-45deg);
 }
 .down-arrow {
    transform: rotate(135deg);
 }
 .top-narrow-arrow {
    transform: rotate(-45deg) skew(-15deg, -15deg);
 }
 .top-wide-arrow {
    transform: rotate(-45deg) skew(7deg, 7deg);
 }
 .top-left-arrow {
    transform: rotate(-90deg) skew(-10deg, -10deg);
 }
 .top-right-arrow {
    transform: rotate(0) skew(-10deg, -10deg);
 }
 .bottom-left-arrow {
    transform: rotate(180deg) skew(-10deg, -10deg);
 }
 .bottom-right-arrow {
    transform: rotate(90deg) skew(-10deg, -10deg);
 }
