@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------- INICIO FORMATAÇÕES GERAL (menos texto e telas menores) ------- */

#install-button {
  padding: 30px 50px;
  background-color: #105033;
  color: #fff;
  font-size: xx-large;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
}

#install-button:hover {
  transform: scale(1.1);
  box-shadow: -3px 3px 33px -9px rgba(0, 0, 0, 0.36);
}

.itens-em-grid-2-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

figure {
  padding: 0.5rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itens-em-linha {
  padding: 0.5rem;
  margin-left: 23%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

body {
  background-color: white;
  width: 100vw;
  height: 80vh;
}

.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 2rem;
}

.card_e_logo {
  border-radius: 0.5rem;
  width: 180px;
}

.card_e_logo:hover {
  transform: scale(1.1);
}

.card_e_logo:hover {
  box-shadow: -3px 3px 33px -9px rgba(0, 0, 0, 0.36);
  background-color: #e0dede;
}

.container-main {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.displayArrowNone {
  position: absolute;
  top: 0;
  opacity: 0;
}

.topo {
  position: relative;
  width: 100%;
  height: 70px;
  top: 0px;
  background-color: #b2ecb2;
  gap: 0.7rem;
  padding: 0rem 0.5rem 0rem 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer {
  background-image: url("../img/footer3.png");
  display: flex;
  justify-content: center;
  height: 20vh;
  padding: 2.5rem;
  margin-top: 20%;
}

.container-pagina-inicial {
  display: grid;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 6rem;
  padding-left: 6rem;
}

.header_pg_inicial {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0px;
  margin-bottom: 2rem;
  height: 120px;
  background-color: #105033;
}

.header_pg_inicial_img1 {
  max-width: 7.5rem;
  max-height: 7.5rem;
  min-width: 7.5rem;
  min-height: 7.5rem;
  width: 7.5rem;
  height: 7.5rem;
  object-fit: contain;
}

.header_pg_inicial_img2 {
  margin-top: 0.1rem;
  margin-right: 0.1rem;
  max-width: 10rem;
  max-height: 5rem;
  min-width: 10rem;
  min-height: 5rem;
  width: 10rem;
  height: 5rem;
  object-fit: contain;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}

header h1 {
  font-size: xx-large;
  color: #fffffa;
  margin: auto;
}

.banner {
  max-width: 200px;
  border-radius: 20px;
}

/* ------- FIM FORMATAÇÕES GERAL (menos texto e telas menores) ------- */

/* ------- INICIO Estilos para telas menores ou iguais a 1000px -------*/
@media screen and (max-width: 1000px) {

  .header_pg_inicial {
    height: 80px;
  }

  .header_pg_inicial h1 {
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .header_pg_inicial_img1 {
    margin-top: 0.1rem;
    max-width: 5.1rem;
    max-height: 5.1rem;
    min-width: 5.1rem;
    min-height: 5.1rem;
    width: 5.1rem;
    height: 5.1rem;
    object-fit: contain;
  }

  .header_pg_inicial_img2 {
    margin-top: 0.1rem;
    margin-right: 0.7rem;
    max-width: 5rem;
    max-height: 5rem;
    min-width: 5rem;
    min-height: 5rem;
    width: 5rem;
    height: 5rem;
    object-fit: contain;
  }

  .itens-em-linha {
    padding: 0.5rem;
    margin-left: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .container-pagina-inicial {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    grid-template-columns: 1fr;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  nav {
    padding-bottom: 0rem;
    margin-bottom: 0rem;
  }

  img {
    width: auto;
    height: auto;
  }

  figure {
    padding: 0.1rem;
    margin: 0.2rem;
  }

  .topo {
    height: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.2rem;
    margin-bottom: 1rem;
  }

  .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 1rem;
    gap: 0rem;
    padding: 1rem;
    text-align: center;
  }

  footer p {
    text-align: center;
  }

  ul li,
  ol li,
  li li,
  ol ul li {
    margin-right: 0rem;
  }

  header h1 {
    font-size: x-large;
    color: #fffffa;
    margin: auto;
  }
}

/* ------- FIM Estilos para telas menores ou iguais a 1000px -------*/

/* ------- INICIO FORMATAÇÕES PARA TEXTO ------- */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
span {
  font-family: "Roboto", sans-serif;
  color: black;
  text-align: left;
  word-spacing: normal;
  letter-spacing: normal;
  white-space: normal;
  word-wrap: normal;
  line-break: normal;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  padding-left: 0.5rem;
  padding-top: 0.2rem;
  margin-left: 0.5rem;
  margin-right: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 20pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  font-size: 16pt;
}

h4 {
  font-size: 14pt;
}

p,
li {
  font-size: 12pt;
}

ul,
ol {
  padding-left: 1rem;
  margin-left: 1rem;
  margin-right: 2rem;
}

ul li li {
  list-style: circle;
}

ul li ul li {
  list-style: circle;
}

h3 {
  background-color: #b2ecb2;
  border: #f0f0f0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem;
  padding-left: 0.7rem;
  margin-left: 0px;
  margin-right: 8px;
  margin-top: 12px;
  margin-bottom: 4px;
}

h3:hover {
  box-shadow: -3px 3px 33px -9px rgba(0, 0, 0, 0.36);
  transition: all 0.5s ease-in-out;
}

a {
  text-decoration: none;
  cursor: pointer;
  padding-left: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
  font-size: 11pt;
}

a:hover {
  text-decoration: underline;
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-style: solid;
  cursor: pointer;
  font-size: 110%;
}

a:active {
  text-decoration-color: #b2ecb2;
  font-size: 110%;
}

nav a {
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

ul {
  list-style: disc;
}

ol {
  list-style: numeric;
}

span {
  margin-bottom: 3%;
  text-transform: uppercase;
}

/* ------- FIM FORMATAÇÕES PARA TEXTO ------- */